#trailer .header-trailer {
  display: flex;
  padding: 0 40px;
  align-items: center;
}

#trailer .header-trailer h2 {
  margin-right: 20px;
  font-size: 24px;
}

#trailer .header-trailer .tv-theater {
  border-radius: 30px;
  border: 1px solid #000;
  display: flex;
}

#trailer .header-trailer .tv-theater h3 {
  padding: 4px 20px;
}

#trailer .tv-theater h3 a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

#trailer {
  padding-top: 30px;
}

#trailer .native {
  border-radius: 30px;
  border: #000 solid 1px;
  background-color: rgba(3, 37, 65, 1);
}

#trailer .header-trailer .tv-theater .native a {
  color: #fff;
}
