#footer nav {
  background-color: #032541;
  position: absolute;
  padding: 80px 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#footer div {
  margin-right: 40px;
}

/* #footer div.logofooter {
  right: 0;
  position: relative;
  top: -36px;
} */

/* #footer .logofooter img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 130px;
  height: 94px;
} */

/* #footer .logofooter a {
  position: relative;
  top: 140px;
} */
