.cardResult {
  margin-top: 10px;
  width: 100%;
  display: flex;
  border-radius: var(--imageBorderRadius);
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid rgba(var(--lightGrey), 1);
  background-color: #fff;
  .wrapper {
    display: flex;
    max-width: calc(100vw - 82px);
    .image {
      margin-right: 30px;
      min-width: 94px;
      width: 94px;
      height: 141px;
      .poster {
        width: 100%;
        height: 100%;
        img {
          min-width: 100%;
          width: 100%;
          height: 100%;
          outline: none;
        }
      }
    }
    .detail {
      width: 100%;
      padding: 10px 15px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      .wrapperDetail {
        display: flex;
        align-items: center;
        width: 100%;
        .title {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          overflow: hidden;
          h2 {
            font-size: 1.2em;
            line-height: 1.2em;
            margin-bottom: 0;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}
.overview {
  height: auto;
  margin-top: 20px;
  .over {
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }
}
.releaseDate {
  white-space: nowrap;
  color: #999;
}
